/* Home h1, h2, h3, h4 */
/*Body and Buttons */
/* Blog and Contact h1, h2, h3 */
body {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
}

footer {
  background-color: #2c2c2c;
  bottom: 0;
  width: 100%;
  height: 40px;
}

footer h5 {
  font-family: "Roboto", sans-serif;
  color: #f0efed;
  text-align: center;
  padding: 10px;
  margin: 0;
  bottom: 0;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.navbar {
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  padding-left: 10%;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  color: #2c2c2c;
  letter-spacing: 0.08rem;
  color: #f0efed;
  margin: 0;
}

.navbar .menu {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.navbar .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.navbar .menu ul li {
  list-style: none;
}

.navbar .menu ul li h2,
.navbar .menu ul li a {
  color: #f0efed;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  padding: 0 5px;
}

.navbar .menu ul li h2:hover,
.navbar .menu ul li a:hover {
  color: #f8e71c;
  cursor: pointer;
}

.navbar .menu .menuYellow {
  color: #f8e71c;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f0efed;
  min-height: 100vh;
}

main {
  padding-bottom: 40px;
  /* Footer height */
}

header {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 600px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10%;
  height: 60vh;
  max-width: 1280px;
  position: relative;
}

.homeBackground {
  background-image: url("./images/contact-header-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionTitle h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 5.75rem;
  color: #f8e71c;
  text-align: left;
  width: 50%;
}

#topNavMobile {
  display: none;
}

.contactHeader {
  position: absolute;
  bottom: 0;
  padding-left: 10%;
}

main {
  background-color: #f0efed;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .container .contactInfo {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
  color: #2c2c2c;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0.2rem;
  padding-top: 10%;
  padding-bottom: 10%;
}

main .container .contactInfo .emailContact {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
  color: #2c2c2c;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

main .container .contactInfo .social_media-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0e902d;
  margin-bottom: 1.5rem;
}

main .container .contactInfo .social_media-wrapper i:hover {
  cursor: pointer;
  color: #074115;
}

main .container .formContainer .usermsg {
  top: -250px;
  -webkit-box-shadow: -15px 15px #f8e71c;
          box-shadow: -15px 15px #f8e71c;
}

main .container .formContainer form {
  width: 700px;
  margin-right: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 30px;
}

main .container .formContainer form .identification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .formContainer form input[type="text"],
main .container .formContainer form input[type="email"] {
  border: none;
  height: 40px;
  width: 48%;
  border-bottom: 2px solid #0e902d;
}

main .container .formContainer form input[type="text"] placeholder,
main .container .formContainer form input[type="email"] placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
  color: #2c2c2c;
  font-weight: 300;
}

main .container .formContainer form input:focus {
  outline: none;
  -webkit-box-shadow: 2px solid #074115;
          box-shadow: 2px solid #074115;
  -webkit-transition: 180ms -webkit-box-shadow ease-in-out;
  transition: 180ms -webkit-box-shadow ease-in-out;
  transition: 180ms box-shadow ease-in-out;
  transition: 180ms box-shadow ease-in-out, 180ms -webkit-box-shadow ease-in-out;
}

main .container .formContainer form textarea {
  border: 2px solid #0e902d;
  width: 100%;
  height: 250px;
  margin: 30px 0;
  -webkit-transition: 180ms -webkit-box-shadow ease-in-out;
  transition: 180ms -webkit-box-shadow ease-in-out;
  transition: 180ms box-shadow ease-in-out;
  transition: 180ms box-shadow ease-in-out, 180ms -webkit-box-shadow ease-in-out;
}

main .container .formContainer form textarea placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
  color: #2c2c2c;
  font-weight: 300;
  margin-top: 10px;
}

main .container .formContainer form button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.063rem;
  font-weight: 700;
  text-align: center;
  color: #f0efed;
  background-color: #0e902d;
  padding: 15px 20px;
  width: 100%;
  border: none;
}

main .container .formContainer form button:hover {
  background: #074115;
}

@media (max-width: 960px) {
  #topNavMobile {
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 300;
    color: #2c2c2c;
    position: fixed;
    top: 80px;
    width: 100%;
    background: #f8e71c;
    z-index: 50;
  }
  #topNavMobile ul {
    padding: 0;
  }
  #topNavMobile li {
    list-style: none;
    text-align: center;
  }
  #topNavMobile li a {
    color: #2c2c2c;
    font-weight: 700;
    font-size: 20px;
    padding: 14px 16px;
    cursor: pointer;
    display: block;
  }
  #topNavMobile li a:hover {
    background-color: #f0efed;
    color: #2c2c2c;
  }
  .navbar {
    z-index: 50;
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5px;
    background-color: black;
    position: fixed;
  }
  .navbar #hamburger-icon {
    margin-right: 10%;
    padding-right: 10%;
    cursor: pointer;
  }
  .menu {
    display: none !important;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: #2c2c2c;
    letter-spacing: 0.08rem;
    color: #f0efed;
    margin: 0;
  }
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background: white;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  #topNavMobile {
    display: none;
    text-align: end;
    padding-right: 10%;
  }
  .menu {
    display: none !important;
  }
  .logo {
    text-align: center;
    font-size: 1rem;
  }
  .homeBackground {
    height: 420px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .homeBackground .sectionTitle h2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .homeBackground .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5px;
  }
  .homeBackground .navbar #hamburger-icon {
    padding-right: 10%;
  }
  .topNav h2 {
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .topNav ul {
    display: none;
  }
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
  main .container .contactInfo {
    width: 100%;
  }
  main .container form {
    position: initial !important;
  }
  main .container form .identification {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  main .container form .identification input[type="text"],
  main .container form .identification input[type="email"] {
    width: 100%;
  }
  main .container .social_media-wrapper {
    padding-top: 10px;
  }
  main .container .usermsg {
    max-width: 100%;
    top: 0;
  }
}
