@import "../../shared/shared_styles.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $plantedwhite;
  min-height: 100vh;
}
main {
  padding-bottom: 40px; /* Footer height */
}

header {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 600px;
}

.container {
  display: flex;
  margin: 0 10%;
  height: 60vh;
  max-width: 1280px;
  position: relative;
}

// <!--Header-->

.homeBackground {
  background-image: url("./images/contact-header-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sectionTitle {
  h2 {
    @include contentTitle;
    text-align: left;
    width: 50%;
  }
}

#topNavMobile {
  display: none;
}
.contactHeader {
  position: absolute;
  bottom: 0;
  padding-left: 10%;
}
// <!--Main-->
main {
  background-color: $plantedwhite;

  .container {
    display: flex;
    position: relative;
    .contactInfo {
      @include bodyText;
      width: 35%;
      display: flex;
      flex-direction: column;
      line-height: 0.2rem;
      padding-top: 10%;
      padding-bottom: 10%;
      .emailContact {
        @include bodyText;
        font-family: $headFont;
        font-weight: 700;
      }
      .social_media-wrapper {
        display: flex;
        width: 50%;
        justify-content: space-between;
        color: $plantedGreen;
        margin-bottom: 1.5rem;
        i {
          &:hover {
            cursor: pointer;
            color: $plantedDarkGreen;
          }
        }
      }
    }
    // <!--Contact Form-->
    .formContainer {
      .usermsg {
        top: -250px;
        box-shadow: -15px 15px $plantedYellow;
      }
      form {
        width: 700px;
        margin-right: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        padding: 30px;
        .identification {
          display: flex;
          justify-content: space-between;
        }
        input[type="text"],
        input[type="email"] {
          border: none;
          height: 40px;
          width: 48%;
          border-bottom: 2px solid $plantedGreen;
          placeholder {
            @include bodyText;
            font-weight: 300;
          }
        }
        input:focus {
          outline: none;
          box-shadow: 2px solid $plantedDarkGreen;
          transition: 180ms box-shadow ease-in-out;
        }

        textarea {
          border: 2px solid $plantedGreen;
          width: 100%;
          height: 250px;
          margin: 30px 0;
          transition: 180ms box-shadow ease-in-out;
          placeholder {
            @include bodyText;
            font-weight: 300;
            margin-top: 10px;
          }
        }
        button {
          @include buttonStyle;
          width: 100%;
          border: none;
        }
      }
    }
  }
}
/* Navbar Mobile */

#topNavMobile {
  display: none;
}

/* Modal */

.modal {
  // display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContainer {
  width: 50%;
  height: 400px;
  background-color: $plantedwhite;
  margin: 200px auto;
  border-radius: 5px;
  position: relative;
  padding: 25px;
}

.closeModal {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btnTwo,
.btnOne {
  @include bodyText;
  @include buttonStyle;
  color: $plantedwhite;
  padding: 5px 15px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btnOne {
  background: #fb6514;
  &::hover {
    background: #ec4a0a;
  }
}

.btnTwo {
  background: $plantedGreen;
  &::hover {
    background: $plantedGreen;
  }
}

/* Snackbar */
#snackbar {
  @include bodyText;
  width: 350px;
  background-color: $plantedDarkGreen;
  color: $plantedwhite;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 60%;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 0.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

//Media Style
@media (max-width: 960px) {
  @include mobile-menu;
  #topNavMobile {
    display: none;
    text-align: end;
  }
  #snackbar {
    width: 100%;
    left: 0;
  }
  .modalContainer {
    width: 100%;
  }

  .menu {
    display: none !important;
  }

  .logo {
    text-align: center;
    font-size: 1rem;
  }

  .homeBackground {
    height: 420px;
    transition: 1s;
    .sectionTitle {
      h2 {
        font-size: 3rem;
        width: 100%;
        text-align: center;
      }
    }
    .navbar {
      justify-content: space-between;
      padding-top: 5px;
      #hamburger-icon {
        padding-right: 10%;
      }
    }
  }

  .topNav {
    h2 {
      font-size: 1rem;
      text-align: center;
      padding: 5px;
      width: 100%;
      justify-content: center;
    }
    ul {
      display: none;
    }
  }

  main {
    .container {
      flex-direction: column-reverse;
      height: auto;
      .contactInfo {
        width: 100%;
      }
      form {
        position: initial !important;
        .identification {
          flex-direction: column;
          width: 100%;

          input[type="text"],
          input[type="email"] {
            width: 100%;
          }
        }
      }
      .social_media-wrapper {
        padding-top: 10px;
      }
      .usermsg {
        max-width: 100%;
        top: 0;
      }
    }
  }
}
