// Text
$headFont: "Josefin Sans", sans-serif;
$bodyFont: "Roboto", sans-serif;

$plantedBlack: #2c2c2c;
$plantedDarkGreen: #074115;
$plantedGreen: #0e902d;
$plantedYellow: #f8e71c;
$plantedwhite: #f0efed;

@mixin bodyText {
  font-family: $bodyFont;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: $plantedBlack;
}

@mixin titleStyle {
  font-family: $headFont;
  font-size: 56.3px;
  font-weight: bold;
  color: $plantedBlack;
  letter-spacing: 1.3px;
}

@mixin headings {
  font-family: $headFont;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 700;
  color: $plantedBlack;
}

@mixin articleFont {
  font-family: $headFont;
  font-size: 42px;
  letter-spacing: 1px;
  font-weight: 700;
  color: $plantedBlack;
}

@mixin buttonText {
  font-family: $headFont;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
  color: $plantedwhite;
}

@mixin buttonStyle {
  @include buttonText;
  background-color: $plantedGreen;
  padding: 15px 20px;
}
