// Footer
footer {
  background-color: $plantedBlack;
  bottom: 0;
  width: 100%;
  height: 40px;
  h5 {
    font-family: $bodyFont;
    color: $plantedwhite;
    text-align: center;
    padding: 10px;
    margin: 0;
    bottom: 0;
  }
}
