// <-Mobile Menu->

@mixin mobile-menu {
  #topNavMobile {
    display: none;
    @include bodyText;
    position: fixed;
    top: 80px;
    width: 100%;
    background: $plantedYellow;
    z-index: 50;
    ul {
      padding: 0;
    }
    li {
      list-style: none;
      text-align: center;
      a {
        color: $plantedBlack;
        font-weight: 700;
        font-size: 20px;
        padding: 14px 16px;
        cursor: pointer;
        display: block;
        &:hover {
          background-color: $plantedwhite;
          color: $plantedBlack;
        }
      }
    }
  }
  .navbar {
    z-index: 50;
    height: 80px;
    justify-content: space-between;
    padding-top: 5px;
    background-color: black;
    position: fixed;
    #hamburger-icon {
      padding-right: 10%;
      cursor: pointer;
    }
  }

  .menu {
    display: none !important;
  }

  .logo {
    display: flex;
    align-items: center;
    h2 {
      @include homeh2;
      color: $plantedwhite;
      margin: 0;
    }
  }

  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background: white;
    margin: 6px 0;
    transition: 0.4s;
  }
}

// Toggle button for mobile menu
.open {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  .bar2 {
    opacity: 0;
  }
  .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
}
