// Navbar
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-left: 10%;
  .logo {
    display: flex;
    align-items: center;
    h2 {
      @include homeh2;
      color: $plantedwhite;
      margin: 0;
    }
  }

  .menu {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-left: 0;
      li {
        list-style: none;
        h2,
        a {
          //   text-decoration: none;
          color: $plantedwhite;
          font-size: 20px;
          letter-spacing: 1px;
          font-family: $headFont;
          font-weight: 400;
          padding: 0 5px;
          &::hover {
            color: $plantedYellow;
            cursor: pointer;
          }
        }
      }
    }
  }
}
